<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>About | Vigosmart</title>
    <meta name="MobileOptimized" content="320">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/vigosmart-style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    

    <script src="../public/js/vendor/modernizr.js"></script>

</head>
<body id="about">
	<header id="heading">
		<div class="navbar-wrapper">
			<div class="container">
				<nav class="navbar navbar-default" role="navigation">
				    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="col-sm-4 vcenter">
						    <div class="navbar-header">
						      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						      </button>
						      <a class="navbar-brand" href="/../index.html"><img src="../public/image/general/logo.png" class="logo"></a>
						    </div>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="col-sm-8 vcenter">
						    <div class="collapse navbar-collapse" id="collapse-1">
						      <ul class="nav navbar-nav">
						        <li><a href="../index.html">HOME</a></li>
					       	    <li class="current"><a href="about.html">ABOUT</a></li>
					       	    <li><a href="apps.html">APPLICATIONS</a></li>
					       	    <li><a href="events.html">EVENTS</a></li>
					       	    <li><a href="contact.html">CONTACT</a></li>	       	    
						      </ul>
						    </div><!-- /.navbar-collapse -->
					    </div>
				</nav>	
			</div><!-- /.container -->	
		</div><!-- /.navbar-wrapper -->
	</header><!-- /.heading -->
	<div class="content-wrapper">
		<div class="container">
			<section>
				<h1 class="h-title1">ABOUT US</h1>
				<h1 class="h-title3 align-center">We go for Smart Changes</h1>
				<div class="row">
					<div class="col-sm-6 whyvigo">
						<h1 class="h-title2">
							Why Vigosmart
						</h1>
						<p>
							Smart ( Android & iOS ) Apps development market is booming and there is great demand for custom applications for different purposes. We custom design, develop, test and deploy Android and iOS apps of your choice. Following are different types of applications developed by us at our apps development center.
						</p>
						<p>
							We also offer our custom and unique services to choose due to our specialty and professional vision and resources for famous and great brands in local or abroad.
						</p>
					</div>
					<div class="vert-line">				
							<i class="icon icon-angle-left"></i>				
							<i class="icon icon-angle-right"></i>
							<i class="icon icon-angle-down"></i>					
					</div><!-- /.vert-line -->
					<div class="col-sm-6 service">
						<h1 class="h-title2">
							Services
						</h1>
						<p>
							Following are different types of applications offered by us at our Apps development center.
						</p>
						<ul>
							<li>Social media and networking apps</li>
							<li>Business/ Finance/E-commerce</li>
							<li>Lifestyle/Personal Utility applications</li>
							<li>Entertainment and Game applications</li>
							<li>Internet/GPS apps</li>
						</ul>
					</div><!-- /.nservice -->
				</div><!-- /.row -->
			</section><!-- /.main-content -->

			<section id="founder">
				<div class="row">
					<h1 class="align-center h-title1 col-sm-2 col-sm-push-5">The Founders
					</h1>
					<div class="founder-content col-xs-12 col-sm-5 col-sm-pull-2 align-center">
						<img src="../public/image/about/amirm.jpg" alt="Amir R. Manoochehri: Founder / Art Director" class="img-circle">
						<p>
							Amir R. Manoochehri <br>
							Founder / Art Director <br>
							amirrm@vigosmart.com
						</p>
						<div class="spriteFounder1"></div>
						<p>
							UI / UX DESIGN <br>
							(MOBILE / WEB)
						</p>
					</div>
					<div class="founder-content col-xs-12 col-sm-5 align-center">
						<img src="../public/image/about/amirr.jpg" alt="Amir Rajabi: Founder / Developer" class="img-circle">
						<p>
							Amir Rajabi <br>
							Founder / Developer <br>
							amir@vigosmart.com
						</p>
						<div class="spriteFounder2"></div>
						<p>
							Development <br>
							(MOBILE / WEB)
						</p>						
					</div>
				</div>
			</section><!-- /#founder -->
		</div><!-- /.container -->
	</div><!-- /.content-wrapper -->

	<footer class="footer">
		<div class="footer-contact">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 vcenter">
						<div class="row">
							<div class="col-sm-1 vcenter">
								<i class="glyphicon glyphicon-map-marker"></i>
							</div>
							<div class="vcenter">
								<p class="font-address">
									Iran Office:
								</p>
								<p>
									No.30 Toopchi St, North Sohrevardi, Tehran, Iran
								</p>
								<p class="font-address">
									Australia Office:
								</p>
								<p>
									16 Poplar ST, Box Hill Vic 3128, Australia
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 vcenter">
						<div class="row">
							<div class="col-sm-1 vcenter">
								<i class="glyphicon glyphicon-phone-alt"></i>
							</div>
							<div class="vcenter">
								<p>
									Tehran: (+9821) 8873 2853 <br>
									Melbourne: (+61) 4326 84162
								</p>
							</div>
						</div>	
					</div>
					<div class="col-sm-2 vcenter">
						<div class="row">
							<div class="col-sm-1 vcenter">
								<i class="glyphicon glyphicon-envelope"></i>
							</div>
							<div class="vcenter">
								<p>
									info@vigosmart.com
								</p>
							</div>
						</div>	
					</div>		
				</div>
			</div><!-- /.container -->
		</div><!-- /.footer-contact -->
		<div class="short-info">
			<div class="container">
				<div class="row">
					<p class="copy-right col-sm-6 vcenter">
						&copy 2013 	VIGOSMART GROUP. ALL RIGHT RESERVED.
					</p>
					<div class="col-sm-6  social-icon vcenter">
						<ul>
							<li><a href=""><i class="icon icon-gplus"></i></a></li>
							<li><a href=""><i class="icon icon-facebook-1"></i></a></li>
							<li><a href=""><i class="icon icon-twitter-1"></i></a></li>
							<li><a href=""><i class="icon icon-github-1"></i></a></li>
						</ul>
					</div>			
				</div><!-- /.row -->
			</div><!-- /.container -->	
		</div><!-- /.short-info -->	
	</footer>



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
  <script src="../public/js/vendor/jquery-1.11.1.js"></script>
  <script src="../public/js/vendor/bootstrap.js"></script>


    <!-- endbower -->
    <!-- endbuild -->

</body>
</html>