<html>
<head>
    <meta charset="utf-8">
    <title>Applications | Vigosmart </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/../public/css/vigosmart-style.css">

    <script src="/../public/js/vendor/modernizr.js"></script>
 
</head>
<body id="apps" >
	<header id="heading">
		<div class="navbar-wrapper">
			<div class="container">
				<nav class="navbar navbar-default" role="navigation">
				    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="col-sm-4 vcenter">
						    <div class="navbar-header">
						      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						      </button>
						      <a class="navbar-brand" href="/../index.html"><img src="/../public/image/general/logo.png" class="logo"></a>
						    </div>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="col-sm-8 vcenter">
						    <div class="collapse navbar-collapse" id="collapse-1">
						      <ul class="nav navbar-nav">
						        <li><a href="/../index.html">HOME</a></li>
					       	    <li><a href="about.html">ABOUT</a></li>
					       	    <li class="current"><a href="apps.html">APPLICATIONS</a></li>
					       	    <li><a href="events.html">EVENTS</a></li>
					       	    <li><a href="contact.html">CONTACT</a></li>		       	    
						      </ul>
						    </div><!-- /.navbar-collapse -->
					    </div>
				</nav>	
			</div><!-- /.container -->	
		</div><!-- /.navbar-wrapper -->
	</header><!-- /.heading -->

	<div class="content-wrapper">
		<section class="apps-content" style="background-image: url(/../public/image/apps/back-app-001.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h2>APPLICATIONS</h2>
						<h3>Box Office ( Ver 2.0.2 )</h3>
						<p>
							Box Office, an app designed for announcing US Box office chart, featuring weekly update, including movie trailers, movie stills, movie cast and crews and another important datas. It worth to have ! New version (2.0.1) Released
						</p>
						<h4>Specifications :</h4>
						<ul>
							<li>Based on Flash Air Platform</li>
							<li>Adobe Air Installation is a must</li>
							<li>Watching Trailers online</li>
							<li>Fearuring movie stills, cast, director and gross</li>
							<li>Access to all previous top chart movies with all informations</li>
							<li>Able to Run in all Tablets</li>
							<li>Easy Navigation</li>
							<li>Qualified and Modern layout designs</li>
						</ul>
					</div>				
					<div class="phone" id="slider1_container">
						<img src="/../public/image/apps/light-phone.png" class="light-phone">
					    <!-- Slides Container -->
					    <div u="slides"class="phone-app">
					        <div><img u="image" src="/../public/image/apps/app-001.jpg" /></div>
					        <div><img u="image" src="/../public/image/apps/app-001.jpg" /></div>
					    </div><!-- /.phone-app -->	
					</div><!-- /.phone -->
				</div><!-- /.row -->					
			</div><!-- /.container -->				
		</section><!-- /.apps-content -->
		<div class="container">
			<div class="row">
				<div class="web-store">
					<div class="col-xs-12 col-sm-1 col-sm-push-5 col-md-1 col-md-push-3">
						<img src="/../public/image/apps/box-office-logo.png" class="app-logo">	
					</div>
					<div class="col-xs-12 col-sm-5 col-sm-pull-1 web-store-logo">
						<a href=""><img src="/../public/image/apps/googleplay.png"></a>
						<a href=""><img src="/../public/image/apps/app-store.png"></a>
					</div><!-- /.web-store-logo -->							
				</div><!-- /.web-store -->
			</div><!-- /.row -->
		</div><!-- /.container -->	
	</div><!-- /.content-wrapper -->

	<footer class="footer">
		<div class="footer-contact">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 vcenter">
						<div class="row">
							<div class="col-sm-1 vcenter">
								<i class="glyphicon glyphicon-map-marker"></i>
							</div>
							<div class="vcenter">
								<p class="font-address">
									Iran Office:
								</p>
								<p>
									No.30 Toopchi St, North Sohrevardi, Tehran, Iran
								</p>
								<p class="font-address">
									Australia Office:
								</p>
								<p>
									16 Poplar ST, Box Hill Vic 3128, Australia
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 vcenter">
						<div class="row">
							<div class="col-sm-1 vcenter" >
								<i class="glyphicon glyphicon-phone-alt"></i>
							</div>
							<div class="vcenter">
								<p>
									Tehran: (+9821) 8873 2853 <br>
									Melbourne: (+61) 4326 84162
								</p>
							</div>
						</div>	
					</div>
					<div class="col-sm-2 vcenter">
						<div class="row">
							<div class="col-sm-1 vcenter" >
								<i class="glyphicon glyphicon-envelope"></i>
							</div>
							<div class="vcenter">
								<p>
									info@vigosmart.com
								</p>
							</div>
						</div>	
					</div>
		
				</div>
			</div><!-- /.container -->
		</div><!-- /.footer-contact -->
		<div class="short-info">
			<div class="container">
				<div class="row">
					<p class="copy-right col-sm-6 vcenter">
						&copy 2013 	VIGOSMART GROUP. ALL RIGHT RESERVED.
					</p>
					<div class="col-sm-6  social-icon vcenter">
						<ul>
							<li><a href=""><i class="icon icon-gplus"></i></a></li>
							<li><a href=""><i class="icon icon-facebook-1"></i></a></li>
							<li><a href=""><i class="icon icon-twitter-1"></i></a></li>
							<li><a href=""><i class="icon icon-github-1"></i></a></li>
						</ul>
					</div>			
				</div><!-- /.row -->
			</div><!-- /.container -->	
		</div><!-- /.short-info -->	
	</footer>
	


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
  <script src="/public/js/vendor/jquery-1.11.1.js"></script>
  <script src="/public/js/vendor/bootstrap.js"></script>

  <script src="/public/js/vendor/jssor.slider.mini.js"></script>
  <script type="text/javascript">
	  if (document.documentElement.clientWidth >768){


	    jQuery(document).ready(function ($) {
	    	
	        //Define an array of slideshow transition code
	        // var _SlideshowTransitions = [
	        // {$Duration:1200,x:1,$Easing:{$Left:$JssorEasing$.$EaseInOutQuart,$Opacity:$JssorEasing$.$EaseLinear},$Opacity:2}

	            // {$Duration: 900, $Clip: 3, $Easing: $JssorEasing$.$EaseInOutCubic }
	            //CLIP|TB
	            // {$Duration: 900, $Clip: 12, $Easing: $JssorEasing$.$EaseInOutCubic },

	            //ZMF|10
	            // {$Duration: 600, $Zoom: 11, $Easing: { $Zoom: $JssorEasing$.$EaseInExpo, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 },
	        // ];
	        var options = {
	            $AutoPlay: true,
	            $AutoPlayInterval: 3000,
	            $SlideDuration: 1000,
	            // $SlideshowOptions: {
	            //         $Class: $JssorSlideshowRunner$,
	            //         $Transitions: _SlideshowTransitions,
	            //         $TransitionsOrder: 1,
	            //         $ShowLink: true
	            //     }
	        };
	        var jssor_slider1 = new $JssorSlider$('slider1_container', options);
	    
	    });
	};
  </script>
  <!--<script src="/public/js/vigosmart-all.js"></script> -->
    <!-- <script src="/../scripts/main.js"></script> -->
    <!-- endbuild -->

</body>
</html>