<html>
<head>
<!-- 	<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta charset="utf-8">
    <title>Events | Vigosmart </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
</head>
<body id="news-event">
	<header id="heading">
		<div class="navbar-wrapper">
			<div class="container">
				<nav class="navbar navbar-default" role="navigation">
				    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="col-sm-4 vcenter">
						    <div class="navbar-header">
						      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						      </button>
						      <a class="navbar-brand" href="/../index.html"><img src="../images/general/logo.png" class="logo"></a>
						    </div>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="col-sm-8 vcenter">
						    <div class="collapse navbar-collapse" id="collapse-1">
						      <ul class="nav navbar-nav">
						        <li><a href="../index.html">HOME</a></li>
					       	    <li><a href="about.html">ABOUT</a></li>
					       	    <li><a href="apps.html" >APPLICATIONS</a></li>
					       	    <li><a href="events.html">EVENTS</a></li>
					       	    <li><a href="contact.html">CONTACT</a></li>	       	    
						      </ul>
						    </div><!-- /.navbar-collapse -->
					    </div>
				</nav>	
			</div><!-- /.container -->	
		</div><!-- /.navbar-wrapper -->
	</header><!-- /.heading -->

	<div class="content-wrapper">
		<section class="news-content">
			<div class="container">
				<div class="row title-style">
					<h1>NEWS & EVENTS</h1>
				</div>
				<div class="row">
					<section class="event-bcg shadow">
						<div class="col-xs-12 col-sm-4">
							<img src="../images/events/event-001.jpg">
							<h3>February 28, 2013</h3>

							<h2>Box Office new version ( 2.0.1 ) released.</h2>
							<p>
								Box Office new version with new features like chart movies archive has been added to Google Play website.
							</p>
							<p><a href="">Click here for official page.</a></p>
						</div>
						<div class="text-pad col-xs-12 col-sm-8">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus interdum ultrices dictum. Cras lorem ligula, fringilla at facilisis id, blandit quis arcu. Aliquam ex eros, convallis at dolor vel, congue elementum quam. Nulla in eleifend odio, eget faucibus lectus. Sed scelerisque finibus ligula, eget mollis nisl. Pellentesque ac massa sapien. Nullam a nisi at enim gravida scelerisque vitae id urna. Sed faucibus aliquam nisl in sollicitudin. In auctor lobortis felis vitae rutrum. Suspendisse ut metus orci. Pellentesque id tempor tellus. Duis malesuada mollis ipsum, vel volutpat nisl congue quis. Aenean metus orci, eleifend eu tempor non, fringilla in mi. Donec et placerat dolor.
							</p> 
							<p>
								Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque eget justo non sem laoreet vehicula. Sed aliquam mi sollicitudin ante condimentum, ac eleifend turpis pharetra. Nunc facilisis rhoncus eros eu malesuada. Suspendisse velit lacus, imperdiet quis felis id, fringilla placerat elit. In sit amet viverra ante. Vivamus tortor nisl, placerat ac tortor semper, cursus tempus lectus. Quisque facilisis tortor quis rhoncus luctus. Integer justo tortor, sodales elementum sapien nec, tristique congue neque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed laoreet lectus, vel maximus tortor. Duis dapibus egestas erat, ut viverra justo condimentum quis. In hac habitasse platea dictumst. Vivamus posuere ipsum eu porttitor pretium. Nullam quis dignissim dui.
							</p>
							<p>
								Donec aliquet felis vel nisl aliquam aliquam. Mauris sit amet urna scelerisque, iaculis diam dictum, efficitur nulla. Aenean ut orci augue. Vivamus ante enim, euismod a pretium id, aliquet at mi. Curabitur aliquet luctus dictum. Nam fringilla arcu erat, ac luctus orci ultricies sed. Donec sagittis ut velit vel faucibus. Vestibulum nec odio velit. Suspendisse sollicitudin dui diam, non imperdiet magna vestibulum sed. Curabitur at magna ligula. Proin blandit hendrerit sapien, eget tempus nisi dapibus quis. Nam rutrum id massa vel elementum. Nulla auctor condimentum semper. Phasellus non feugiat ex. Curabitur viverra leo eget tellus gravida, eget ultrices justo maximus.
							</p>
						</div>
						<div class="">
							<a href="events.html"><i class="back-list glyphicon glyphicon-chevron-left"> Back to List</i></a>
						</div>
					</section><!-- /.event-bcg -->
				</div>

			</div><!-- /.container -->
		</section>	

	</div><!-- /.content-wrapper -->
		<footer class="footer">
			<div class="footer-contact">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 vcenter">
							<div class="row">
								<div class="col-sm-1 vcenter">
									<i class="glyphicon glyphicon-map-marker"></i>
								</div>
								<div class="vcenter">
									<p class="font-address">
										Iran Office:
									</p>
									<p>
										No.30 Toopchi St, North Sohrevardi, Tehran, Iran
									</p>
									<p class="font-address">
										Australia Office:
									</p>
									<p>
										16 Poplar ST, Box Hill Vic 3128, Australia
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4 vcenter">
							<div class="row">
								<div class="col-sm-1 vcenter" >
									<i class="glyphicon glyphicon-phone-alt"></i>
								</div>
								<div class="vcenter">
									<p>
										Tehran: (+9821) 8873 2853 <br>
										Melbourne: (+61) 4326 84162
									</p>
								</div>
							</div>	
						</div>
						<div class="col-sm-2 vcenter">
							<div class="row">
								<div class="col-sm-1 vcenter" >
									<i class="glyphicon glyphicon-envelope"></i>
								</div>
								<div class="vcenter">
									<p>
										info@vigosmart.com
									</p>
								</div>
							</div>	
						</div>
			
					</div>
				</div><!-- /.container -->
			</div><!-- /.footer-contact -->
			<div class="short-info">
				<div class="container">
					<div class="row">
						<p class="copy-right col-sm-6 vcenter">
							&copy 2013 	VIGOSMART GROUP. ALL RIGHT RESERVED.
						</p>
						<div class="col-sm-6  social-icon vcenter">
							<ul>
								<li><a href=""><i class="icon icon-gplus"></i></a></li>
								<li><a href=""><i class="icon icon-facebook-1"></i></a></li>
								<li><a href=""><i class="icon icon-twitter-1"></i></a></li>
								<li><a href=""><i class="icon icon-github-1"></i></a></li>
							</ul>
						</div>			
					</div>
				</div><!-- /.container -->	
			</div>	
		</footer>
	


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>

    <!-- endbower -->
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

 <!--   <script type="text/javascript">
    $(document).ready(function() {
    var height_diff = $(window).height() - $('body').height();
    console.log(height_diff);
    if ( height_diff > 0 ) {
        $('.footer').css( 'margin-top', height_diff );
    }
});</script> -->
    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="../scripts/main.js"></script>
    <!-- endbuild -->

</body>
</html>